html, body { 
	margin: 0; padding: 0; 
}
body { 
	font-family: 'Ropa Sans', sans-serif; 
	font-weight: 200; 
} 

.container { 
	margin: 0 auto; 
	max-width: 1140px; 
	padding: 0 10px; 
} 
.header { 
	background: url(https://placeimg.com/1000/640/tech/sepia) no-repeat center center; 
	background-size: cover; 
	height: 800px; 
	text-align: center; 
} 
.header .container { 
	position: relative; 
	top: 200px; 
} 
.header h1 { 
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #777;
	text-shadow: 0 0 15px #000;
	-moz-text-shadow: 0 0 15px #000;
	-webkit-text-shadow: 0 0 15px #000;
	color: #fff; 
	line-height: 100px; 
	font-size: 100px; 
	margin-top: 0; 
	margin-bottom: 80px; 
	text-transform: uppercase; } 

	@media (min-width: 850px) { 
		.header h1 { 
			font-size: 120px; 
		} 
	} 
.header p { 
	text-shadow: 0 0 15px #000;
	-moz-text-shadow: 0 0 15px #000;
	-webkit-text-shadow: 0 0 15px #000;
	color: #fff; 
	font-weight: 500; 
	letter-spacing: 8px; 
	margin-bottom: 40px; 
	margin-top: 0; 
	text-transform: uppercase; 
} 
.btn { 
	color: #fff; 
	background: #000; 
	padding: 10px 40px; 
	text-decoration: none; 
	transition: background .5s; 
	border-radius: 10px;
} 
.nav { 
	background: #000; 
	height: 80px; 
	width: 100%; 
} 
.nav ul { 
	height: 80px; 
	list-style: none; 
	margin: 0 auto; 
	padding: 0; 
} 
.nav ul li { 

	color: #fff; 
	display: inline-block; 
	height: 80px; 
	line-height: 80px; 
	list-style: none; 
	padding: 0 10px; 
	transition: background 1s; 
	padding: 0 20px;	
	font-size: 24px; 	
} 
.btn:hover, .nav ul li:hover { 
	background: #c1cb7b; 
	cursor: pointer; 
	transition: background 1s; 
} 
.main .container { 
	margin: 80px auto; 
} 
.main img {
	float: left; 
	margin: 50px 80px 50px 0; 
} 

.main i {
	float: left; 
	margin: 50px 80px 50px 0; 
} 
.jumbotron { 
	background: url(https://placeimg.com/640/640/tech/sepia) center center; 
	background-size: cover; 
	height: 600px; 
} 
.jumbotron .container { 
	position: relative; 
	top: 220px; 
} 
.jumbotron h2 { 
	margin-top:200px; 
	color: #fff; 
	text-align: left; 
} 
.jumbotron p {  
	color: #fff; 
	text-align: left; 
} 
.jumbotron .btn { 
	margin: 10px 0 0; 
	float: left; 
	border-radius: 10px;
} 
.footer { 
	background: #000; 
	height: 80px; 
	padding-bottom: 50px; 
} 
.footer p { 
	color: #fff; 
	font-size: 16px; 
	height: 80px; 
	line-height: 80px; 
	margin: 0; 
} 
@media (max-width: 500px) { 
	.header h1 { 
		font-size: 50px; 
		line-height: 64px; 
	} 
	.main, .jumbotron { 
		padding: 0 30px; 
	} 
	.main img { 
		width: 100%; 
	} 
}

.fa-wifi {
	font-size: 140px;
}
